*{
box-sizing:border-box;
}


body{

margin:0;
font-family:Arial, "Tahoma", sans-serif;
background:
linear-gradient(135deg,#050505,#111827,#020617);

color:white;
text-align:center;
min-height:100vh;

}



header{

padding:50px 20px;

background:
rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

border-bottom:1px solid rgba(255,255,255,0.1);

}



nav{

margin-bottom:25px;

}


nav a{

color:#c084fc;
text-decoration:none;
font-weight:bold;
margin:0 10px;

}



h1{

font-size:45px;

background:linear-gradient(
90deg,
#facc15,
#c084fc
);

-webkit-background-clip:text;
color:transparent;

}



header p{

font-size:20px;
color:#cbd5e1;

}



.update{

font-size:14px;
color:#94a3b8;

}



.search{

margin:35px;

}



input{

width:90%;
max-width:600px;

padding:18px;

border-radius:50px;

border:none;

outline:none;

font-size:18px;

background:#111827;

color:white;

box-shadow:
0 0 25px rgba(168,85,247,.3);

}



#top{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

margin:40px 20px;

}



.card{

background:
rgba(255,255,255,0.08);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.1);

padding:30px;

border-radius:25px;

min-width:220px;

font-size:22px;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

box-shadow:
0 20px 40px rgba(0,0,0,.5);

}



table{

width:90%;

max-width:1000px;

margin:auto;

border-collapse:collapse;

background:

rgba(255,255,255,.06);

backdrop-filter:blur(15px);

border-radius:20px;

overflow:hidden;

}



th{

background:#7c3aed;

padding:18px;

font-size:18px;

}



td{

padding:16px;

border-bottom:
1px solid rgba(255,255,255,.1);

}



tr{

transition:.3s;

}



tr:hover{

background:
rgba(192,132,252,.15);

transform:scale(1.01);

}



footer{

margin:50px;

color:#94a3b8;

}



@media(max-width:600px){

h1{

font-size:32px;

}


table{

font-size:14px;

}


td,th{

padding:10px;

}

}
