*{
box-sizing:border-box;
}


body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#050505;
color:#ffffff;
}


.header{

display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;

background:#0b0b0f;
border-bottom:1px solid #1f1f25;

}


.brand{

font-size:26px;
font-weight:700;
letter-spacing:1px;

}


nav a{

color:#bdbdbd;
text-decoration:none;
margin-left:25px;
font-size:16px;

}


nav a:hover{

color:white;

}


.language{

margin-left:25px;
color:#555;

}


.hero{

text-align:center;
padding:80px 20px;

background:
radial-gradient(circle at top,#1e1b4b,#050505 60%);

}


.hero h1{

font-size:52px;
margin-bottom:15px;

}


.hero p{

color:#a1a1aa;
font-size:20px;

}



.stats{

display:flex;
justify-content:center;
gap:25px;
margin-top:50px;
flex-wrap:wrap;

}



.stats div{

background:#111118;

border:1px solid #24242d;

padding:25px 45px;

border-radius:18px;

min-width:180px;

}


.stats h2{

margin:0;
font-size:35px;

}


.stats p{

font-size:15px;

}



.search{

text-align:center;
padding:40px;

}


input{

width:90%;
max-width:550px;

padding:18px 25px;

background:#111118;

border:1px solid #292933;

border-radius:30px;

color:white;

font-size:17px;

outline:none;

}



.leaderboard{

width:90%;
max-width:1000px;

margin:auto;

}



table{

width:100%;

border-collapse:collapse;

background:#0d0d12;

border-radius:20px;

overflow:hidden;

}



th{

background:#18181f;

padding:20px;

text-align:center;

}



td{

padding:18px;

text-align:center;

border-bottom:1px solid #202027;

color:#d4d4d8;

}



tr:hover{

background:#15151d;

}



#top{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin:30px;

}



.card{

background:#111118;

border:1px solid #292933;

border-radius:20px;

padding:30px;

min-width:220px;

}



footer{

text-align:center;

padding:50px;

color:#777;

}



@media(max-width:700px){


.header{

flex-direction:column;
gap:20px;

}


.hero h1{

font-size:34px;

}


.stats div{

width:90%;

}


}
